{{>head}}
{{>navbar}}

    <div class="row">
        <div class="col-8">
            <h1>NODE JS STARTER...</h1>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est omnis excepturi fugiat sunt iure. 
                Consequatur nobis quidem soluta error nulla esse ullam tenetur fugit! Quidem, repellendus! 
                Suscipit obcaecati laboriosam odio.
            </div>
        </div>
        <div class="col-4">
            <img src="assets/img/imgnode.jpg" class="img-thumbnail">
        </div>
    </div>

{{>footer}}